:root {
    --bbt-color-black: black;
    /*--bbt-color-grey: #222;-->*/
    --bbt-color-grey: #3d3d3d;
    --bbt-color-hovergrey: #5a5757;
    --bbt-color-white: white;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

/* BarbelTribe Background Logo */
body::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("images/Barbell_Tride_Sign_Bar_NG_W.png");
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  opacity: 0.175;
  margin: 0;
  background-size: 60%;
}

/* Basic Side Layout */
#wrapper {
    margin: 0;
    height: 100%;
    position:relative;
}

#content {
    position: relative;
}

#footer {
    position: relative;
    bottom:0;
    left:0;
    color: #ccc;
    padding: 45px 0 10px;
    height: auto;
    margin: 0;
    background-color: var(--bbt-color-grey);
}

#footer .container {
  width: 100vw;
  max-width: 1700px;
}

#footer i{
  color: var(--bbt-color-white);
}

#footer a{
  color: var(--bbt-color-white);
}

/* navigation-bar */
.nav-bar.container{
    margin: auto;
}
.navbar {
    border-radius: 10;
    background-color: var(--bbt-color-grey);
}
.nav-link,
.navbar-brand {
    cursor: pointer;
    padding-left: 10px;
}
.navbar-brand img{
  height: 100px;
  width: auto;
}
.nav-link {
    margin-right: 1em !important;
    font-style: normal;
    font-size: 30px;
    color: var(--bbt-color-white) !important;
}
.nav-link:hover {
    color: var(--bbt-color-hovergrey) !important;
}
.navbar-collapse {
    justify-content: flex-end;
}

.container-fluid.nav-bar {
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
}

/* start-page */
.main-content{
  height: 80vh;
  min-height: 1450px;
}

.description {
	margin-top: 15%;
	text-align: center;
}
.description h1 {
	color: var(--bbt-color-white);
  font-size: 5rem;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
.description button {
    border:1px solid #6ab446;
    background:#6ab446;
    border-radius: 0;
    color:#fff;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}

.team {
	color: #5e5e55;
  margin-top: 10%;
}

.impressum.main-content {
  margin-top: 2%;
  text-align: left;
  color: var(--bbt-color-white);
  min-height: 2000px;
}

.impressum h1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.impressum h2 {
  margin-top: 35px;
  font-size: 2rem;
}

.impressum h3 {
  font-size: 3rem;
}

.impressum p {
  font-size: 1.1rem;
}


.team-header{
  color: var(--bbt-color-white);
  text-align: center;
  font-size: 2rem;
  padding-bottom: 30px;
}

.team .card {
	background:none;
	border: none;
  padding-left: 30px;
}

.team .card img{
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.team .card-img-top{
  margin-left: 20%;
}

.team .card-title {
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
  color: var(--bbt-color-white);
}

.team .card-body {
  min-height: 150px;
}
/* News Page */
.news-cards{
  padding-top: 20px;
  position: relative;
  min-height: 100% !important;
}

.news-card{
  background-color: var(--bbt-color-grey);
  min-height: 500px;
  height: auto;
  margin-bottom: 20px;
  padding: 0;
  border: 0;
}

.news-card .card-img-top{
  height: 200px;
  object-fit: cover;
}

.news-card .card-body{
  text-align: center;
  color: white;
}

/* Events Page */
.events-table{
  padding-top: 5%;
  position: relative;
  margin-bottom: 5%;
}

.events-table .table{
  background-color: var(--bbt-color-grey);
  color: var(--bbt-color-white);
  text-align: center;
}

.events-table thead{
  background-color: var(--bbt-color-hovergrey);
}

@media (max-width: 1199px) {
  .team .card img{
    height: 300px;
    width: 200px;
    object-fit: cover;
  }
  
  .team .card-img-top{
    margin-left: 13%;
  }
}

@media (max-width: 991px){
  .sponsors .col{
    margin-bottom: 50px;
  }
  .main-content{
    height: 80vh;
    min-height: 1550px;
  }

  .impressum.main-content {
    min-height: 2200px;
  }

  .team .card-body h4{
    font-size: 1rem;
  }

  .team .card img{
    height: 200px;
    width: 150px;
    object-fit: cover;
  }
  
  .team .card-img-top{
    margin-left: 10%;
  }
} 

@media (max-width: 767px){
  .main-content{
    height: 80vh;
    min-height: 1900px;
  }

  .impressum.main-content {
    min-height: 2600px;
  }

  .events-table{

    min-height: 1400px;
  }

  .team .card img{
    height: 230px;
    width: 120px;
    object-fit: cover;
  }
  
  .team .card-img-top{
    margin-left: 5%;
  }

}

/* Screen Sizes */
@media (max-width: 575.98px) {
    #footer{
      height: auto;
    }

    #footer img{
      margin-bottom: 10px;
    }

    #content{
      padding-top: 30px;
      height: auto
    }


  .events-table{
    min-height: 1600px;
  }

  .team .card img{
    height: 250px;
    width: 200px;
    object-fit: cover;
  }
  
.team .card-body {
  min-height: auto;
}

.sponsors {
  margin-top: 10%;
}

  .team .card-img-top{
    margin-left: calc(50% - 100px);
  }

    .description {
        left: 0%;
        padding: 0 15px;
        position: relative;
        top: 10%;
        transform: none;
        text-align: center;
        margin: auto;
    }

    .description h1 {
        font-size: 2em;
    }

    .description p {
        font-size: 1.2rem;
    }

    .team .card-body h4{
      font-size: 0.8rem;
    }

    .features {
        margin: 0;
    }
}
