:root {
    --bbt-color-black: black;
    --bbt-color-grey: rgb(67,67,68);
}

body::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("images/Barbell_Tride_Sign_Bar_NG_W.png");
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  opacity: 0.2;
  background-size: 60%;

}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}
.navbar {
    border-radius: 10;
    background-color: var(--bbt-color-grey);
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    padding-left: 10px;
}
.navbar-brand img{
  height: 100px;
  width: auto;
}
.nav-link {
    margin-right: 1em !important;
    font-style: normal;
    font-size: 30px;
    color: black;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.container-fluid.nav-bar {
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
}

.description {
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
    width: 70%;
}
.description h1 {
	color: #6ab446;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
    border:1px solid #6ab446;
    background:#6ab446;
    border-radius: 0;
    color:#fff;
}

.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.features .form-control,
.features input {
	border-radius: 10;
}
.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

.background {
	background: #aadec1;
	padding: 4em 0;
}
.team {
	color: #5e5e55;
	padding: 0 180px;
}
.team .card-columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.team .card {
	background:none;
	border: none;
}
.team .card-title {
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
}
.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}

@media (max-width: 575.98px) {
    .description {
        left: 0%;
        padding: 0 15px;
        position: relative;
        top: 10%;
        transform: none;
        text-align: center;
        margin: auto;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}